
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
        <h2>Patties to Devour: </h2>
        {{#each data}}
            {{#unless devoured}}
                <p>{{this.name}}</p>
            {{/unless}}
        {{/each}}
    </div>
    <div class="col-md-auto">
    </div>
    <div class="col-md-auto">
        <h2>Patties Devoured:</h2>
        {{#each data}}
            {{#if devoured}}
                <p>{{this.name}}</p>
            {{/if}}
        {{/each}}
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
        <h2>Add a Ingredient</h2>
        <form class="create-form">
            <div class="form-group">
                <label for="cp">Secret Ingredient :</label>
                <input type="text" id="cp" name="name">
            </div>
            <button type="submit">Make Krabby Patty</button>
        </form>
    </div>
  </div>
</div>



